#!/bin/bash

# put your own key and base IDs below
# do not check in your own keys!
export AIRTABLE_API_KEY='keyXXXXXXXXXXXXXX'
export AIRTABLE_BASE_PHOSO='appXXXXXXXXXXXXXX'
export AIRTABLE_BASE_IMAGES_BY_SMS='appXXXXXXXXXXXXXX'

# set these variables to test locally; unset to run the webhook
export TO_PHONE='+14155551212'
export FROM_PHONE='+16505551212'
export MESSAGE_BODY='Hello, world.'
export MEDIA_URL='https://dummyimage.com/600x400.png'
